nav ul a:nth-child(2) {
    border-bottom: #4c4343;
    background-color: #4c4343;
    color: #ebe3db;
}

.video {
    text-align: center;
    margin: 3rem 0;
}

p {
    margin: 0 0.6rem;
    margin-bottom: 1.6rem;
}

.dining {
    background-color: #ebe3db;
    padding: 1.5rem 1rem;
}