nav ul a:nth-child(2) {
    border: #4c4343;
    background-color: #4c4343;
    color: #ebe3db;
}

.video {
    text-align: center;
    margin: 3rem 0;
}

p {
    margin: 0 0.6rem;
    margin-bottom: 1.6rem;
}

.dining {
    background-color: #ebe3db;
    padding: 1.5rem 1rem 0.1rem 1rem;
    margin-bottom: 6rem;
}

.pic-dining {
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (min-width: 780px){  

    .dining {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pic-dining {
        width: calc(50% - 10px);
    }
}

@media screen and (min-width: 1100px){

    video {
        width: 70%;
    }  

    .dining {
        width: 90%;
        margin: 0 auto 6rem auto;
    }


}